{% extends 'base.html' %}

{% load static %}

{% block title %}
    hello world
{% endblock %}

{% block body %}




<div class="container">

  



    <div class="row">

        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'image.jpeg' %}" alt="Card image cap">                
                <div class="card-body">
                  <h5 class="card-title">{{ object.name }}</h5>
                  <p class="card-text">{{ object.descriptions }}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{ object.unit }}</li>
                  <li class="list-group-item">{{ object.country }}</li>
                  <li class="list-group-item">{{ object.manufacturer }}</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Ссылка карты</a>
                  <a href="#" class="card-link">Другая ссылка</a>
                </div>
              </div>
        </div>        
    </div>

    
    
  </div>

{% endblock %}